*.dvi 
*.out 
*.log 
*.aux 
*.bbl 
*.blg 
*.pyg 
*.toc
*.pdf
Pods
ISS\ Barometer.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
ISS\ Barometer.xcworkspace/xcuserdata/*.xcuserdatad/xcdebugger/*
